<app-navbar></app-navbar>
<div class="container">
  <div class="main-news">
    <h2 class="fw-bold display-2 text-white text-center">
      {{ newsData.newsTitle }}
    </h2>
    <img
      src="{{ newsData.newsImageUrl }}"
      class="main-image mt-3"
      alt="imagem principal"
    />
    <p class="text-white p-2 mt-4 text-justify">
      {{ newsData.newsDescription }} Lorem, ipsum dolor sit amet consectetur
      adipisicing elit. Quam, mollitia pariatur voluptatibus nihil eligendi rem
      quae. Quae impedit illo enim officiis eveniet accusamus explicabo,
      accusantium ex tempore voluptatum iste. Aliquam? Lorem ipsum dolor, sit
      amet consectetur adipisicing elit. Cumque autem praesentium mollitia
      tempore officia inventore reprehenderit, dolore debitis commodi ipsam
      maiores ipsa ipsum? Voluptates ducimus incidunt tenetur, nisi autem
      perspiciatis. Lorem, ipsum dolor sit amet consectetur adipisicing elit.
      Nam velit nobis perspiciatis numquam, ipsum laudantium. Fugit ipsum rem
      doloribus sunt ex, nulla cum quas dicta veritatis ut dolor asperiores sed.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio quam
      repellendus nulla perspiciatis suscipit cupiditate cumque accusamus illo
      officia neque, sapiente magni iste voluptatibus sit adipisci voluptates
      consequatur molestias inventore? Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Facere aliquid tenetur ex deleniti, quae quos unde non
      exercitationem mollitia provident at voluptatibus dolorum repudiandae
      fugit, quia ullam veritatis, placeat consectetur.
    </p>
  </div>
</div>
