/* You can add global styles to this file, and also import other style files */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0 solid transparent;
}

/* Scroll bar stylings */
::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(53, 51, 117);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8888887a;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555555a7;
}
